<p>I am a multidisciplined creative individual with extensive experience in design, development, and team management. My hobbies include playing and running Dungeons & Dragons campaigns, fitness, and reading. I do a bit of coding when I can too, I always have a backlog of games I am attempting to create.</p>
<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/jsartin/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github-square fa-lg main-list-item-icon"></span>
    <a href="https://github.com/JaredSartin">Github</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://www.instagram.com/jaredsartin/">Instagram</a>
  </li>
</ul>
